doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='shortcut icon', href='/images/logo-chuyen-le-thanh-tong.jpg', type='image/x-icon')
        link(rel='stylesheet', href='/stylesheets/login.css')
        link(rel='stylesheet' href='/stylesheets/fontawesome/css/all.css')
        title Đăng nhập hệ thống
    body
        .wrap
            .container
                span.logo
                h1
                    | hệ thống
                    br
                    | đèn giao thông
                    br
                    | thông minh
                block content